.select2-selection__choice__display {
   padding-left: 13px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 13px;
}

.select2-container--default
.select2-selection--multiple
.select2-selection__choice__remove:hover {
    color: #000!important;
}

.image_detail_product, .feature_image {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.alert-danger {
    padding: 3px 5px;
}
